.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 960px;
  margin: 60px auto;
}

.list {
  padding-right: 30px;
}
.side {
  color: #01fffe;
  padding-left: 30px;
}

.side form {
  padding: 20px;
  background-color: black;
  border-radius: 10px;
}

.side input,
.side select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  color: #555;
  font-size: 1em;
}

.side label {
  margin: 0 auto 20px;
  display: block;
  color: #fff;
}

.side button {
  color: #fff;
  border: 2px solid #fff;
  padding: 6px 12px;
  background-color: transparent;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
}

.side h3 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.side aside {
  margin-top: 40px;
  color: #555;
}

.side aside li {
  margin: 10px;
}
